@model IEnumerable<SistemaWebParroquia.Models.Personas>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.apellido1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.apellido2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cedula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.padre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.madre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Abuelo_Paterno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Abuela_Paterno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Abuelo_Materno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Abuela_Materno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Padrino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Madrina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lugarnacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bautizos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.comunion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.confirmacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.matrimonio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apellido1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apellido2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.padre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.madre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Abuelo_Paterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Abuela_Paterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Abuelo_Materno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Abuela_Materno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Padrino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Madrina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lugarnacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bautizos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.comunion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.confirmacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.matrimonio)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID_personas">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID_personas">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID_personas">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
